@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-underscore {
    position: relative;
  }

  .custom-underscore:hover {
    color: #456e77;
  }

  .custom-underscore:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #456e77;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transition: 0.3s;
  }

  .custom-underscore:hover::after {
    width: 100%;
    left: 0;
  }
}
